/* main CSS */
body {
  font-family: "Lato", Arial;
}

.item-tile {
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}
.item-tile .image {
  position: relative;
  display: block;
  overflow: hidden;
}
.item-tile .image:before {
  content: "";
  width: 100%;
  position: relative;
  display: block;
  padding-bottom: 60%;
}
.item-tile .image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item-tile .top {
  padding: 25px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}
.item-tile .bottom {
  padding: 25px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}
.item-tile .specs {
  display: flex;
}
.item-tile .specs .spec {
  flex-grow: 1;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  border-left: 1px solid #ddd;
}
.item-tile .specs .spec:first-child {
  border-left: none;
}
.item-tile .specs .spec .number {
  display: block;
  font-weight: 400;
  font-size: 16px;
}
.item-tile .title {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.item-tile .cta {
  background: #1fa7cb;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 14px 10px;
  font-weight: 300;
  font-size: 18px;
  transition: background 200ms linear;
}
.item-tile .cta:hover {
  background: #3cbfe1;
}
